.form-login {
    background-color: #f3f3f3;
    width: 430px;
    height: auto;
    margin: 10% auto;
    text-align: center;
    color: red;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    & h3 {
        color: #111;
        padding-top: 50px;
        text-align: center;
    }
    & button {
        align-items: center;
        padding: 6px 164px;
        border: none;
        bottom: 100px;
        color: #f3f3f3;
        font-weight: 500;
        border-radius: 5px;
        margin: 10px 20px;
        background-color: #218838;
        & .icon-login {
            margin-right: 5px;
        }
    }
}
