.search-name,
.search-vendor {
    cursor: pointer;
    border-radius: 5px;
    padding: 6px;
    border: 1px solid #111;
    background-color: var(--background-primary);
    width: 450px;
    color: #fff;
}
.search-vendor {
    width: 250px;
}

.active {
    background-color: var(--bck-header);
}
.lableinput {
    color: #fff;
}
