.search-select {
    cursor: pointer;
    border-radius: 5px;
    padding: 6px;
    border: 1px solid #111;
    background-color: var(--background-primary);
    width: 225px;
    margin: 0 10px;
    color: #fff;
    font-weight: 600px;
}

.label-select {
    color: #fff;
}
