.search-bottom {
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
li {
    list-style: none;
}
.span-li {
    display: inline-block;
    margin-left: 15px;
}
